<!DOCTYPE html>
<html>

<body>
  <nav class="navbar bg-light">
    <div class="container-fluid d-flex justify-content-end">
      <form class="d-flex" role="search">
        <div class="container-fluid d-flex justify-content-center ">
          <h1>PRODUCTOS PARA MASCOTAS</h1>
        </div>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
        <button class="btn btn-secondary btn-lg float-start" routerLink="/landing">Atrás</button>
      </form>
    </div>
  </nav>

  <nav>
    <div class="container-fluid" color="primary">
      <form class="d-flex">
        <button mat-flat-button color="primary" type="submit">Agregar Producto</button>
      </form>
    </div>
  </nav>

</body>

</html>