<body>
  <nav class="navbar navbar-expand-lg navbar-light shadow">
    <a class="navbar-brand text-success logo h2 align-self-center">
      CATEGORIAS
    </a>
    <div class="container-fluid d-flex justify-content-end">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success justify-content-right " type="submit">Buscar</button>
      </form>
    </div>
  </nav>
<!-- Inician categrías-->
<section class="container py-5">
  <div class="row text-center pt-3">
      <div class="col-lg-6 m-auto">
          <h1 style="text-align: left;" class="h1"></h1>
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"><img src="../../../../assets/2.jpeg" class="img-fluid border" width="800" height="1000"></a>
          <h2 class="text-center mt-3 mb-3">Decoracion</h2>
      </div>
      <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"><img src="../../../../assets/anillo.jpeg" class="img-fluid border"></a>
          <h2 class="h5 text-center mt-2 mb-3">Set de Anillos</h2>
      </div>
      <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"><img src="../../../../assets/11.jpeg" class="img-fluid border"></a>
          <h2 class="h5 text-center mt-3 mb-3">Silla</h2>
      </div>
      <div class="col-12 col-md-4 p-5 mt-3">
        <a href="#"><img src="../../../../assets/traje.webp" class="img-fluid border"></a>
        <h2 class="h5 text-center mt-3 mb-3">Camisa formal</h2>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3">
      <a href="#"><img src="../../../../assets/deportiva.jpg" class="img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Sujetadores deportivos</h2>
  </div>
  <div class="col-12 col-md-4 p-5 mt-3">
    <a href="#"><img src="../../../../assets/espejo.jpg" class="img-fluid border"></a>
    <h2 class="h5 text-center mt-3 mb-3">Espejo decorativo</h2>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
  <a href="#"><img src="../../../../assets/bebe.jpg" class="img-fluid border"></a>
  <h2 class="h5 text-center mt-3 mb-3">Mameluco</h2>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
  <a href="#"><img src="../../../../assets/camisa-polo.jpg" class="img-fluid border"></a>
  <h2 class="h5 text-center mt-3 mb-3">Camisa estilo polo</h2>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
  <a href="#"><img src="../../../../assets/brochas.jpg" class="img-fluid border" alt="" width="300" height="300"></a>
  <h2 class="h5 text-center mt-3 mb-3">Brochas para maquillaje</h2>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
  <a href="#"><img src="../../../../assets/aretes.jpg" class="img-fluid border" alt="" width="300" height="300"></a>
  <h2 class="h5 text-center mt-3 mb-3">Aretes</h2>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
  <a href="#"><img src="../../../../assets/vestido.jpg" class="img-fluid border" alt="" width="300" height="300"></a>
  <h2 class="h5 text-center mt-3 mb-3">Vestido para niña</h2>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
  <a href="#"><img src="../../../../assets/teniss.jpg" class="img-fluid border" alt="" width="300" height="300"></a>
  <h2 class="h5 text-center mt-3 mb-3">Tenis deportivos</h2>
</div>




  </div>
</section>



<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
      <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1">Productos Destacados</h1>
              <p>
                  Calificaciones y comentarios sobre nuestros productos.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                  <a href="#">
                      <img src="../../../../assets/linterna.jpg" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                      <ul class="list-unstyled d-flex justify-content-between">
                          <li>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                          </li>
                          <li class="text-muted text-right">L.240.00</li>
                      </ul>
                      <a href="#" class="h2 text-decoration-none text-dark">Linterna</a>
                      <p class="card-text">
                          Potente linterna de mano con 4 modos de luz, totalmente recargable; la batería incluida
                          permite
                          hasta 20 horas de funcionamiento entre cargas.
                      </p>
                      <p class="text-muted">Reviews (24)</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                  <a href="#">
                      <img src="../../../../assets/smart watch.jpg" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                      <ul class="list-unstyled d-flex justify-content-between">
                          <li>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                          </li>
                          <li class="text-muted text-right">L. 3880.00</li>
                      </ul>
                      <a href="#" class="h2 text-decoration-none text-dark">Smart Watch</a>
                      <p class="card-text">
                          Reloj inteligente con pantalla táctil de acero inoxidable con altavoz, frecuencia cardíaca,
                          notificaciones de smartphones
                      </p>
                      <p class="text-muted">Reviews (15)</p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
              <div class="card h-100">
                  <a href="#">
                      <img src="../../../../assets/camara.jpg" class="card-img-top" alt="...">
                  </a>
                  <div class="card-body">
                      <ul class="list-unstyled d-flex justify-content-between">
                          <li>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                          </li>
                          <li class="text-muted text-right">L 3600.00</li>
                      </ul>
                      <a href="#" class="h2 text-decoration-none text-dark">Polaroid One Step</a>
                      <p class="card-text">
                          Cámara de pelicula instántanea conectada por Bluetooth
                      </p>
                      <p class="text-muted">Reviews (74)</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>